.git
.idea
/data
/pycharm_project/code/__pycache__
/improve_CartoonGAN/.idea
/improve_CartoonGAN/__pycache__
/improve_CartoonGAN/frozen2_0214_2011

/improve_CartoonGAN/fixed_vgg.npy
/improve_CartoonGAN/__pycache__/
/improve_CartoonGAN/*.swp
/improve_CartoonGAN/*.swo
/improve_CartoonGAN/*~
/improve_CartoonGAN/scripts/*.pb
/improve_CartoonGAN//scripts/runs/
/improve_CartoonGAN/tmp/
/improve_CartoonGAN/datasets/
/improve_CartoonGAN/.idea/
/improve_CartoonGAN/.ipynb_checkpoints/
/improve_CartoonGAN/runs/
/improve_CartoonGAN/result/
/improve_CartoonGAN/ckpts/
/improve_CartoonGAN/input_images/
/improve_CartoonGAN/output_images/
/improve_CartoonGAN/** training_checkpoints/
/improve_CartoonGAN/models/
/improve_CartoonGAN/light_model/
/improve_CartoonGAN/out/
/improve_CartoonGAN/**/*.npy
/improve_CartoonGAN/.DS_Store
/improve_CartoonGAN/**/*.tgz
/improve_CartoonGAN/old_train.py
/improve_CartoonGAN/clean.sh
/improve_CartoonGAN/optimized_pbs/
/improve_CartoonGAN/keras_contrib/__pycache__/
/improve_CartoonGAN/keras_contrib/backend/__pycache__/
/improve_CartoonGAN/keras_contrib/callbacks/__pycache__/
/improve_CartoonGAN/keras_contrib/constraints/__pycache__/
/improve_CartoonGAN/keras_contrib/datasets/
/improve_CartoonGAN/keras_contrib/initializers/__pycache__/
/improve_CartoonGAN/keras_contrib/layers/__pycache__/
/improve_CartoonGAN/keras_contrib/layers/normalization/__pycache__/
/improve_CartoonGAN/keras_contrib/layers/advanced_activations/__pycache__
/improve_CartoonGAN/keras_contrib/layers/convolutional/__pycache__/
/improve_CartoonGAN/keras_contrib/layers-normalization/__pycache__/
/improve_CartoonGAN/keras_contrib/losses/__pycache__/
/improve_CartoonGAN/keras_contrib/metrics/__pycache__/
/improve_CartoonGAN/keras_contrib/optimizers/__pycache__/
/improve_CartoonGAN/keras_contrib/preprocessing/__pycache__/
/improve_CartoonGAN/keras_contrib/regularizers/__pycache__/
/improve_CartoonGAN/keras_contrib/utils/__pycache__/
/improve_CartoonGAN/keras_contrib/wrappers/__pycache__/
/improve_CartoonGAN/keras_contrib/cartoongan/__pycache__/
/improve_CartoonGAN/style_transfer/cartoongan/__pycache__/